# Vectors and assignment

```r
c(<csv>)
```
will create a vector

In [16]:
x <- c(10.4, 5.6, 3.1, 6.4, 21.7)
x

[1] 10.4  5.6  3.1  6.4 21.7

```r
assign("x", c(10.4, 5.6, 3.1, 6.4, 21.7))
```
is the same as above

you can do it the other "direction" as well
```r
c(10.4, 5.6, 3.1, 6.4, 21.7) -> x
```

## last value

```r
.Last.value
```

In [11]:
.Last.value

NULL

In [12]:
1-4

[1] -3

In [13]:
.Last.value

NULL

## concatenation of assorted items

```r
y = c(x, 0, x)
```
will create b consisting of two "copies" of x with 0 in the middle

In [17]:
y = c(x, 0, x)
y

 [1] 10.4  5.6  3.1  6.4 21.7  0.0 10.4  5.6  3.1  6.4 21.7

In [7]:
x[1] = 5
x

[1]  5.0  5.6  3.1  6.4 21.7

In [15]:
y

 [1]  5.0  5.6  3.1  6.4 21.7  0.0  5.0  5.6  3.1  6.4 21.7

# Vector arithmetic

```r
v = 2*x + y + 1
```

will make every element to the size of the max element, by repeating. the result would be a vector of the size |max-element-size|

Here y is of size 3, x is of size 5.  
so y is repeated twice, only 5 elements retained, the tail is discarded

In [23]:
x = c(1,1,1,1,1)
y = c(10,20,30)
v = 2*x + y + 1
v

Warning message:
In 2 * x + y: longer object length is not a multiple of shorter object length

[1] 13 23 33 13 23

## frequently used

^ : raising to a power

```r
range(x) = c(min(x), max(x))
```

```r
length(x)
sum(x)
prod(x)
```

## mean, var

```r
mean(x) == sum(x)/length(x)
```

```r
var(x) = sum((x-mean(x))^2) / (length(x)-1)
```

if x is a $n \times p$ matrix, then the output is a $p \times p$ matrix, rows regarded as sample vectors

## sort

```r
sort(x)
```

others: 
```r
order(x)
sort.list()
```

## parallel min, max

```r
pmax()
pmin()
```
are the parallel equivalents

## storage

numbers are stored as double precision reals or complex numbers

## complex numbers

```r
sqrt(-1)
```
gives NaN

right way:
```r
sqrt(-1+0i)
```

In [24]:
sqrt(-1)

Warning message:
In sqrt(-1): NaNs produced

[1] NaN

In [25]:
sqrt(-1+0i)

[1] 0+1i

# Generating regular sequences

## precedence

: has a higher precedence

In [32]:
n = 5

print(1:n-1)
print(1:(n-1))

[1] 0 1 2 3 4
[1] 1 2 3 4

In [33]:
10:1

 [1] 10  9  8  7  6  5  4  3  2  1

## seq

```r
seq(from=,to=,length=,by=,along=)
```

In [34]:
seq(-5, 5, by=.5)

 [1] -5.0 -4.5 -4.0 -3.5 -3.0 -2.5 -2.0 -1.5 -1.0 -0.5  0.0  0.5  1.0  1.5  2.0
[16]  2.5  3.0  3.5  4.0  4.5  5.0

In [35]:
seq(length=10, from=-5, by=.2)

 [1] -5.0 -4.8 -4.6 -4.4 -4.2 -4.0 -3.8 -3.6 -3.4 -3.2

In [44]:
seq(from=1, to=20, along=1:10)

 [1]  1.000000  3.111111  5.222222  7.333333  9.444444 11.555556 13.666667
 [8] 15.777778 17.888889 20.000000

## rep

```r
rep(x, times=,each=)
```

times connects x tail to head said times

In [46]:
rep(1:5, times=3)

 [1] 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5

each will repeat each element said times before moving on to the next element

In [47]:
rep(1:5, each=3)

 [1] 1 1 1 2 2 2 3 3 3 4 4 4 5 5 5

# Logical vectors

```r
TRUE
FALSE
T
F
NA
```

T and F are just variables and aint reserved.  
better used TRUE and FALSE

Generating by conditions

In [49]:
1:10>5

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

## set operations

**operators**  
<. <=, >, >=, ==, !=

**intersection**
```r
c1 & c2
```

**union**
```r
c1 | c2
```

**negation**
```r
!c1
```

In numerical arithmetic,  
TRUE becomes 1  
FALSE becomes 0

# Missing Values

## NA

In [57]:
is.na(c(1:3,NA))

[1] FALSE FALSE FALSE  TRUE

beware

In [51]:
c(1:3,NA) == NA

[1] NA NA NA NA

## NaN

In [52]:
1/0

[1] Inf

In [54]:
0/0

[1] NaN

In [53]:
Inf - Inf

[1] NaN

# is.na, is.nan

is.na is TRUE for *both* NA and NaN  
is.nan is TRUE *only* for NaN

In [58]:
print(is.na(c(1:3,NA)))
print(is.na(1/0))
print(is.na(0/0))
print(is.na(Inf-Inf))

[1] FALSE FALSE FALSE  TRUE
[1] FALSE
[1] TRUE
[1] TRUE

In [59]:
print(is.nan(is.na(c(1:3,NA))))
print(is.nan(1/0))
print(is.nan(0/0))
print(is.nan(Inf-Inf))

[1] FALSE FALSE FALSE FALSE
[1] FALSE
[1] TRUE
[1] TRUE

# Character vectors

double or single quotes, just like python

## escape sequences
  1. \"
  1. \\
  1. \t
  1. \n

```r
?Quotes
```
to get the full list of escape characters

## paste

```r
paste(v1, v2, v3, ..., sep=)
```
zips v1,v2,v3,... by "recycling" them and joins the elements using sep

In [5]:
paste(c('X','Y'), c('A','B','C'), 1:10, sep=':')

 [1] "X:A:1"  "Y:B:2"  "X:C:3"  "Y:A:4"  "X:B:5"  "Y:C:6"  "X:A:7"  "Y:B:8"
 [9] "X:C:9"  "Y:A:10"

# indexing

## logical vector

recycles the index vector

In [25]:
x = c(-1:3, NA, -1:4, NA, 3)
print(x)
print(x[c(TRUE,FALSE)])
print(x[!is.na(x)])
print(x[!is.na(x) & x>0])

 [1] -1  0  1  2  3 NA -1  0  1  2  3  4 NA  3
[1] -1  1  3 -1  1  3 NA
 [1] -1  0  1  2  3 -1  0  1  2  3  4  3
[1] 1 2 3 1 2 3 4 3

## positive integers

In [18]:
c('x',1)[rep(c(1,2,2,1),times=4)]

 [1] "x" "1" "1" "x" "x" "1" "1" "x" "x" "1" "1" "x" "x" "1" "1" "x"

## negative integers

negative indices are excluded

In [22]:
(1:10)[-seq(1,10,by = 2)]

[1]  2  4  6  8 10

## character strings

applies only if the vector has **names** attributes set

In [24]:
fruit = c(5,10,1,20)
names(fruit) = c('orange','banana','apple','peach')
fruit[c('banana','peach', 'berry')]

banana  peach   <NA>
    10     20     NA

## assignment

In [28]:
x = c(-1:3, NA, -1:4, NA, 3)
print(x)
x[is.na(x)] = 10
print(x)

 [1] -1  0  1  2  3 NA -1  0  1  2  3  4 NA  3
 [1] -1  0  1  2  3 10 -1  0  1  2  3  4 10  3

```r
y[y<0] = -y[y<0]
```
is the same as
```r
y = abs(y)
```

In [33]:
y = (1:10) * c(-1,1)
print(y)
y[y<0] = -y[y<0]
print(y)

 [1] -1  2 -3  4 -5  6 -7  8 -9 10
 [1]  1  2  3  4  5  6  7  8  9 10

# other object types

1. *matrices*:  or more generally, arrays
1. *factors*: compact ways to handle categorical data 
1. *lists*: can have elements of different type
1. *data frames*: matrix-like, cols of different types
1. *functions*: are objects in R