In [2]:
import functools as ft
from graphviz import Digraph
from ipywidgets import interact, interactive, fixed
import ipywidgets as widgets
from IPython.display import Math
from IPython.display import Latex
from IPython.display import HTML
from matplotlib import pyplot as plt
import math
import numpy as np
import numpy.polynomial as np_poly
import os
import pandas as pd
from pandas import Series, DataFrame
from pprint import pprint
import random
import scipy as sp
import string

from __future__ import print_function

%matplotlib inline

DIR_HOME = os.environ['HOME']
DIR_REPOS = DIR_HOME + "/neo-human/repos"
DIR_BMLSP = DIR_REPOS + "/luispedro/BuildingMachineLearningSystemsWithPython"

initialization
$
\newcommand{\Brace}[1]{\left\{#1\right\}}
\newcommand{\Bracket}[1]{\left[#1\right]}
\newcommand{\cases}[1]{\begin{cases}#1\end{cases}}
\newcommand{\cov}[1]{\text{cov} \sigma\left[#1\right]}
\newcommand{\diff}[2]{\frac{d #1}{d #2}}
\newcommand{\difftwo}[2]{\frac{d^2 #1}{d {#2}^2}}
\newcommand{\diffn}[2]{{#1}^{\prime}(#2)}
\newcommand{\ds}{\displaystyle}
\newcommand{\E}[1]{\mathbb{E}\left[ #1 \right]}
\newcommand{\expb}[1]{\exp\left\{#1\right\}} 
\newcommand{\EXP}[1]{\exp\left\{#1\right\}} 
\newcommand{\frachalf}[1]{\frac{#1}{2}~}
\newcommand{\fracone}[1]{\frac{1}{#1}~}
\newcommand{\fracrec}[1]{\frac{1}{#1}~}
\newcommand{\half}{\fracone{2}}
\newcommand{\H}[1]{\mathbb{H}\left[#1\right]}
\newcommand{\Int}[2]{\displaystyle \int_{#1}^{#2}~}
\newcommand{\intinfinf}{\Int{-\infty}{\infty}}
\newcommand{\inv}[1]{#1^{-1}}
\newcommand{\invp}[1]{\left({#1}\right)^{-1}}
\newcommand{\KL}[2]{\text{KL}\left(#1 \Vert #2\right)}
\newcommand{\Lim}[1]{\displaystyle \lim_{#1}}
\newcommand{\Ln}[1]{\ln \left\(#1\right\)}
\newcommand{\Lnb}[1]{\ln \left\{#1\right\} }
\newcommand{\Mod}[1]{\left|#1\right|}
\newcommand{\Norm}[1]{\left\lVert #1 \right\rVert}
\newcommand{\Normsqr}[1]{\Norm{#1}^2}
\newcommand{\map}[1]{#1_{\text{MAP}}}
\newcommand{\ml}[1]{#1_{\text{ML}}}
\newcommand{\MI}[1]{\mathcal{I}\left(#1\right)}
\newcommand{\P}{\mathbb{P}}
\newcommand{\Paran}[1]{\left(#1\right)}
\newcommand{\Partial}[2]{\frac{\partial #1}{\partial #2}}
\newcommand{\sqrbrkt}[1]{\Bracket{#1}^2}
\newcommand{\sqrbrc}[1]{\Brace{#1}^2}
\newcommand{\trace}[1]{\text{Tr}\left( #1 \right)}
\newcommand{\traceb}[1]{\text{Tr}\left\{#1\right\}}
\newcommand{\underl}[1]{\text{$\underline{#1}$}}
\newcommand{\V}[1]{\mathbb{V}\left[#1\right]}
$
$
\DeclareMathOperator*{\argmin}{arg\,min}
\DeclareMathOperator*{\argmax}{arg\,max}
$
$
\newcommand{\mat}[1]{ \left[ \begin{matrix} #1 \end{matrix} \right] }
\newcommand{\matp}[1]{ \left( \begin{matrix} #1 \end{matrix} \right)}
\newcommand{\mats}[1]{ \begin{matrix}#1\end{matrix} }
\newcommand{\arrthree}[1]{
\begin{array}{rlr} #1 \end{array}}
$

$
\newcommand{\C}{\mathbb{C}}
\newcommand{\Ca}{\mathcal{C}}
\newcommand{\Caone}{\Ca_1}
\newcommand{\Catwo}{\Ca_2}
\newcommand{\Cak}{\Ca_k}
\newcommand{\D}{\mathcal{D}}
\newcommand{\G}{\mathcal{G}}
\newcommand{\I}{\mathcal{I}}
\newcommand{\L}{\mathcal{L}}
\newcommand{\M}{\mathcal{M}}
\newcommand{\N}{\mathbb{N}}
\newcommand{\R}{\mathbb{R}}
\newcommand{\Ra}{\mathcal{R}}
$
$
\newcommand{\commentgray}[1]{\color{gray}{\text{#1}}}
$

sum, product
$
\newcommand{\sumi}{\displaystyle \sum_i}
\newcommand{\sumiD}{\displaystyle \sum_{i=1}^{D}}
\newcommand{\sumiL}{\displaystyle \sum_{i=1}^{L}}
\newcommand{\sumiN}{\displaystyle \sum_{i=1}^{N}}
\newcommand{\sumjD}{\displaystyle \sum_{j=1}^{D}}
\newcommand{\sumjK}{\displaystyle \sum_{j=1}^{K}}
\newcommand{\sumjMl}{\sum_{j=1}^{M-1}}
\newcommand{\sumkK}{\displaystyle \sum_{k=1}^{K}}
\newcommand{\sumkM}{\displaystyle \sum_{k=1}^{M}}
\newcommand{\sumkMl}{\sum_{k=1}^{M-1}}
\newcommand{\sumkp}{\displaystyle \sum_{k=1}^{p}}
\newcommand{\summN}{\displaystyle \sum_{m=1}^{N}}
\newcommand{\sumnN}{\displaystyle \sum_{n=1}^{N}}
$
$
\newcommand{\prodi}{\displaystyle \prod_i}
\newcommand{\prodiD}{\displaystyle \prod_{i=1}^{D}}
\newcommand{\prodiL}{\displaystyle \prod_{i=1}^{L}}
\newcommand{\prodiN}{\displaystyle \prod_{i=1}^{N}}
\newcommand{\prodjK}{\displaystyle \prod_{j=1}^{K}}
\newcommand{\prodkK}{\displaystyle \prod_{k=1}^{K}}
\newcommand{\prodmN}{\displaystyle \prod_{m=1}^{N}}
\newcommand{\prodnN}{\displaystyle \prod_{n=1}^{N}}
$

alphabet shortcuts
$
\newcommand{\ab}{\mathbf{a}}
\newcommand{\at}{\ab^T}
\newcommand{\Ab}{\mathbf{A}}
\newcommand{\At}{\Ab^T}
\newcommand{\Ai}{\inv{\Ab}}
\newcommand{\Abjk}{\Ab_{jk}}
\newcommand{\bb}{\mathbf{b}}
\newcommand{\bt}{\bb^T}
\newcommand{\Bb}{\mathbf{B}}
\newcommand{\Bt}{\Bb^T}
\newcommand{\Cb}{\mathbf{C}}
\newcommand{\Cn}{\Cb_{N}}
\newcommand{\Db}{\mathbf{D}}
\newcommand{\fb}{\mathbf{f}}
\newcommand{\fp}{f^{\prime}}
\newcommand{\Hb}{\mathbf{H}}
\newcommand{\hx}{h(\xb)}
\newcommand{\Jb}{\mathbf{J}}
\newcommand{\kb}{\mathbf{k}}
\newcommand{\kt}{\kb^T}
\newcommand{\Kb}{\mathbf{K}}
\newcommand{\Lb}{\mathbf{L}}
\newcommand{\Lt}{\Lb^T}
\newcommand{\Lbi}{\Lb^{-1}}
\newcommand{\mb}{\mathbf{m}}
\newcommand{\mt}{\mb^T}
\newcommand{\mbn}{\mb_N}
\newcommand{\mbnt}{\mbn^T}
\newcommand{\mbN}{\mb_N}
\newcommand{\mbNt}{\mbn^T}
\newcommand{\Mb}{\mathbf{M}}
\newcommand{\Qb}{\mathbf{Q}}
\newcommand{\Rb}{\mathbf{R}}
\newcommand{\sb}{\mathbf{s}}
\newcommand{\Sb}{\mathbf{S}}
\newcommand{\tb}{\mathbf{t}}
\newcommand{\tbnn}{\tb_{N}}
\newcommand{\tbnp}{\tb_{N+1}}
\newcommand{\tt}{\tb^T}
\newcommand{\Tb}{\mathbf{T}}
\newcommand{\Tt}{\Tb^T}
\newcommand{\ub}{\mathbf{u}}
\newcommand{\Ub}{\mathbf{U}}
\newcommand{\Ut}{\Ub^T}
\newcommand{\vb}{\mathbf{v}}
\newcommand{\Vb}{\mathbf{V}}
\newcommand{\wb}{\mathbf{w}}
\newcommand{\wnr}[1]{\wb^{(\text{#1})}}
\newcommand{\wt}{\wb^T}
\newcommand{\Wb}{\mathbf{W}}
\newcommand{\Wt}{\Wb^T}
\newcommand{\Wtilde}{\widetilde{\Wb}}
\newcommand{\Wtildet}{\Wtilde^T}
\newcommand{\Xb}{\mathbf{X}}
\newcommand{\Xt}{\Xb^T}
\newcommand{\Xk}{\Xb_k}
\newcommand{\Xkt}{\Xk^T}
\newcommand{\Xtilde}{\widetilde{\Xb}}
\newcommand{\Xtildet}{\Xtilde^T}
\newcommand{\xb}{\mathbf{x}}
\newcommand{\xt}{\xb^T}
\newcommand{\xtilde}{\widetilde{\xb}}
\newcommand{\xtilden}{\xtilde_n}
\newcommand{\xtildent}{\xtilden^T}
\newcommand{\xp}{x^{\prime}}
\newcommand{\xbp}{\xb^{\prime}}
\newcommand{\xbm}{\xb_m}
\newcommand{\xbn}{\xb_n}
\newcommand{\xbnp}{\xb_{N+1}}
\newcommand{\xab}{\mathbf{x_a}}
\newcommand{\xabt}{\mathbf{x_a}^T}
\newcommand{\xbb}{\mathbf{x_b}}
\newcommand{\xbbt}{\mathbf{x_b}^T}
\newcommand{\yb}{\mathbf{y}}
\newcommand{\yt}{\yb^T}
\newcommand{\yx}{y(\xb)}
\newcommand{\Yb}{\mathbf{Y}}
\newcommand{\Yt}{\Yb^T}
\newcommand{\zb}{\mathbf{z}}
\newcommand{\zt}{\zb^T}
\newcommand{\zbm}{\zb_m}
\newcommand{\zbn}{\zb_n}
\newcommand{\zbnp}{\zb_{n-1}}
\newcommand{\znk}{\zb_{nk}}
\newcommand{\znpj}{\zb_{n-1,j}}
\newcommand{\Zb}{\mathbf{Z}}
$

math shortcuts
$
\newcommand{\alphab}{\pmb{\alpha}}
\newcommand{\alphabt}{\alphab^T}
\newcommand{\betab}{\pmb{\beta}}
\newcommand{\betabp}{\betab^{\prime}}
\newcommand{\chib}{\boldsymbol{\chi}}
\newcommand{\etab}{\pmb{\eta}}
\newcommand{\etabp}{\etab^{\prime}}
\newcommand{\etat}{\eta^T}
\newcommand{\etabt}{\etab^T}
\newcommand{\Lambdab}{\pmb{\Lambda}}
\newcommand{\laa}{\Lambda_{aa}}
\newcommand{\laai}{\Lambda_{aa}^{-1}}
\newcommand{\lab}{\Lambda_{ab}}
\newcommand{\lba}{\Lambda_{ba}}
\newcommand{\lbb}{\Lambda_{bb}}
\newcommand{\lbbi}{\Lambda_{bb}^{-1}}
\newcommand{\li}{\Lambda^{-1}}
\newcommand{\Li}{\Lambda^{-1}}
\newcommand{\mub}{\pmb{\mu}}
\newcommand{\mut}{\mub^T}
\newcommand{\muab}{\pmb{\mu}_a}
\newcommand{\mubb}{\pmb{\mu}_b}
\newcommand{\Phib}{\pmb{\Phi}}
\newcommand{\Phibt}{\Phib^T}
\newcommand{\pib}{\pmb{\pi}}
\newcommand{\sigmasqr}{\sigma^2}
\newcommand{\saa}{\Sigma_{aa}}
\newcommand{\sab}{\Sigma_{ab}}
\newcommand{\sba}{\Sigma_{ba}}
\newcommand{\sbb}{\Sigma_{bb}}
\newcommand{\Sigmai}{\inv{\Sigma}}
\newcommand{\thetab}{\pmb{\theta}}
\newcommand{\thetat}{\thetab^T}
\newcommand{\thetabh}{\hat{\thetab}}
\newcommand{\thetaold}{\thetab^{\text{old}}}
$
$
\newcommand{\zerob}{\pmb{0}}
\newcommand{\oneb}{\pmb{1}}
\newcommand{\ed}{\mathbb{E}_{\D}}
\newcommand{\edyx}{\ed\left[y(\xb ; \D)\right]}
\newcommand{\dx}{~dx}
\newcommand{\dxb}{~d\xb}
\newcommand{\pxdxb}{p(\xb) \dxb}
\newcommand{\dwb}{~d\wb}
$

aliases for distributions
$\newcommand{\multivarcoeff}{\frac{1}{(2\pi)^{D/2}}
\frac{1}{\left| \mathbf{\Sigma}\right|^{1/2}}}$
$\newcommand{\multivarexp}[2]
{
\left\{
 -\frac{1}{2} 
 {#1}^T 
 #2
 {#1}
\right\}
}$
$\newcommand{\multivarexpx}[1]{\multivarexp{#1}{\Sigma^{-1}}}$
$\newcommand{\multivarexpstd}{\multivarexpx{(\xb-\mub)}}$
$\newcommand{\gam}{\operatorname{Gam}}$
$
\newcommand{\Nl}[3]{\mathcal{N}\left(#1 \mid #2, #3\right)}
\newcommand{\Nstdx}{\Nl{\mathbf{x}}{\mathbf{\mu}}{\Sigma}}
$

In [2]:
HTML("<style>"\
    "div.cell{"\
        "width:100%;"\
        "margin-left:0%;"\
        "margin-right:auto;"\
    "}"\
"</style>")

# Introduction to pandas

## Series

In [5]:
obj = Series([4,7,-5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

the index and the values are available from the attributes

In [6]:
obj.values, obj.index

(array([ 4,  7, -5,  3]), RangeIndex(start=0, stop=4, step=1))

Series with custom index

In [7]:
obj2 = Series([4,7,-5,3], index=['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
obj2['a']

-5

In [9]:
obj2[['a','b']]

a   -5
b    7
dtype: int64

In [15]:
obj2['d'] = 6

numpy operations, such as filtering, scalal mult or math functions, will preserve the index-value link

In [16]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [17]:
obj2[obj2>0]

d    6
b    7
c    3
dtype: int64

In [18]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [19]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

Series is a fixed-length, ordered-dict.  
So most of the functions on dict will work on Series as well.

In [21]:
print("'b' in obj2:", 'b' in obj2)
print("'e' in obj2:", 'e' in obj2)

'b' in obj2: True
'e' in obj2: False

dict to Series

In [27]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [24]:
states = ['Cal','Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

Cal           NaN
Ohio      35000.0
Oregon    16000.0
Texas     71000.0
dtype: float64

Cal has NaN since it is not found in the series dict

detecting null

In [25]:
obj4.isnull()

Cal        True
Ohio      False
Oregon    False
Texas     False
dtype: bool

In [26]:
obj4.notnull()

Cal       False
Ohio       True
Oregon     True
Texas      True
dtype: bool

pd object has these methods as well.

automatic alignment of differently indexed data

In [28]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [29]:
obj4

Cal           NaN
Ohio      35000.0
Oregon    16000.0
Texas     71000.0
dtype: float64

In [30]:
obj3 + obj4

Cal            NaN
Ohio       70000.0
Oregon     32000.0
Texas     142000.0
Utah           NaN
dtype: float64

name attribute  

obj.name: what the vals indicate; the y-axis  
obj.index.name: what the indices indicate; the x-axis

In [31]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
Cal           NaN
Ohio      35000.0
Oregon    16000.0
Texas     71000.0
Name: population, dtype: float64

Note how the names assigned reflect in the output

Updating the index of the series

In [33]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [34]:
obj.index = ['Bob','Steve','Jeff','Ray']
obj

Bob      4
Steve    7
Jeff    -5
Ray      3
dtype: int64

## DataFrame

from dict of equal length lists to DF

In [ ]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)

The keys are the column names  
each list is a part of the each instance of the dataframe

In [40]:
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

Pass a column list to specify the order  
(python dict doesnt have a specific order)

In [41]:
DataFrame(data, columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

As with Series, if you pass a column that isn’t contained in data , it will appear with NA
values in the result.

In [46]:
frame2 = DataFrame(data, columns=['year','state','pop','debt'], index=['a','b','c','d','e'])
frame2

   year   state  pop debt
a  2000    Ohio  1.5  NaN
b  2001    Ohio  1.7  NaN
c  2002    Ohio  3.6  NaN
d  2001  Nevada  2.4  NaN
e  2002  Nevada  2.9  NaN

Access a column as a dict-key or as a method

In [47]:
frame2['state']

a      Ohio
b      Ohio
c      Ohio
d    Nevada
e    Nevada
Name: state, dtype: object

In [48]:
frame2.state

a      Ohio
b      Ohio
c      Ohio
d    Nevada
e    Nevada
Name: state, dtype: object

Access a row using `ix[]`

In [54]:
frame2.ix['a']

year     2000
state    Ohio
pop       1.5
debt      NaN
Name: a, dtype: object

Columns can be modified by numpy like broadcasting or using an array or a list

In [55]:
frame2['debt'] = 16.5
frame2

   year   state  pop  debt
a  2000    Ohio  1.5  16.5
b  2001    Ohio  1.7  16.5
c  2002    Ohio  3.6  16.5
d  2001  Nevada  2.4  16.5
e  2002  Nevada  2.9  16.5

In [61]:
frame2['debt'] = np.arange(5.)
frame2

   year   state  pop  debt
a  2000    Ohio  1.5   0.0
b  2001    Ohio  1.7   1.0
c  2002    Ohio  3.6   2.0
d  2001  Nevada  2.4   3.0
e  2002  Nevada  2.9   4.0

In [62]:
frame2['debt'] = range(1,10,2)
frame2

   year   state  pop  debt
a  2000    Ohio  1.5     1
b  2001    Ohio  1.7     3
c  2002    Ohio  3.6     5
d  2001  Nevada  2.4     7
e  2002  Nevada  2.9     9

Assigning series will conform exactly to the index of the dataframe.  
that is, the matching keys would be updated and missing ones are set to `NaN`

In [63]:
frame2

   year   state  pop  debt
a  2000    Ohio  1.5     1
b  2001    Ohio  1.7     3
c  2002    Ohio  3.6     5
d  2001  Nevada  2.4     7
e  2002  Nevada  2.9     9

In [65]:
vals = Series([-1.2,-1.5,-1.7], index=['b','d','e'])
frame2['debt'] = vals
frame2

   year   state  pop  debt
a  2000    Ohio  1.5   NaN
b  2001    Ohio  1.7  -1.2
c  2002    Ohio  3.6   NaN
d  2001  Nevada  2.4  -1.5
e  2002  Nevada  2.9  -1.7

Dict methods of adding a new key or deleting a key

Inserting cols  
assigning a non-existing col will create it.

In [69]:
frame2['eastern'] = frame2['state'] == 'Ohio'
frame2

   year   state  pop  debt eastern
a  2000    Ohio  1.5   NaN    True
b  2001    Ohio  1.7  -1.2    True
c  2002    Ohio  3.6   NaN    True
d  2001  Nevada  2.4  -1.5   False
e  2002  Nevada  2.9  -1.7   False

In [70]:
del frame2['eastern']
frame2

   year   state  pop  debt
a  2000    Ohio  1.5   NaN
b  2001    Ohio  1.7  -1.2
c  2002    Ohio  3.6   NaN
d  2001  Nevada  2.4  -1.5
e  2002  Nevada  2.9  -1.7

**Note**  
The column returned when indexing a DataFrame is a view on the underlying data, not a copy.  
Thus, any in-place modifications to the Series will be reflected in the DataFrame.  
The column can be explicitly copied using the Series’s copy method.

Another common form of data is a nested dict of dicts format.  
If passed to DataFrame, it will interpret the outer dict keys as the columns and the inner
keys as the row indices.  
This makes sense and also generalizes the df creation from "1-level" hashes

In [73]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
                'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

Transposing the frame

In [74]:
frame3.T

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

The keys in the inner dicts are unioned and sorted to form the index in the result.   
This isn’t true if an explicit index is specified:

In [77]:
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [78]:
DataFrame(pop, index=[2001, 2002, 2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [83]:
print("type(frame3['Ohio'][:-1]):",type(frame3['Ohio'][:-1]))

type(frame3['Ohio'][:-1]): <class 'pandas.core.series.Series'>

Dicts of Series are treated much in the same way  
The missing values are set to NaN

In [90]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][1:]}
DataFrame(pdata)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   NaN

Possible data inputs to DataFrame constructor

| Type | Notes |
| ---- | ----- |
| 2D ndarray | A matrix of data, passing optional row and column labels |
| dict of arrays, lists, or tuples | Each sequence becomes a column in the DataFrame. All sequences must be the same length. |
| NumPy structured/record array | Treated as the “dict of arrays” case |
| dict of Series | Each value becomes a column. Indexes from each Series are unioned together to form the result’s row index if no explicit index is passed. |
| dict of dicts | Each inner dict becomes a column. Keys are unioned to form the row index as in the “dict of Series” case. |
| list of dicts or Series | Each item becomes a row in the DataFrame. Union of dict keys or Series indexes become the DataFrame’s column labels |
| List of lists or tuples | Treated as the “2D ndarray” case |
| Another DataFrame | The DataFrame’s indexes are used unless different ones are passed |
| NumPy MaskedArray | Like the “2D ndarray” case except masked values become NA/missing in the DataFrame result |

Setting name attribute of index and columns

In [91]:
frame3.index.name = 'year'
frame3.columns.name = 'state'
frame3

state  Nevada  Ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

In [101]:
frame2

   year   state  pop  debt
a  2000    Ohio  1.5   NaN
b  2001    Ohio  1.7  -1.2
c  2002    Ohio  3.6   NaN
d  2001  Nevada  2.4  -1.5
e  2002  Nevada  2.9  -1.7

`values` attributes returns the data as a 2D ndarray

In this case, the dtype becomes object

If the DataFrame’s columns are different dtypes, the dtype of the values array will be chosen to accomodate all of the columns

In [95]:
frame3.values

array([[ nan,  1.5],
       [ 2.4,  1.7],
       [ 2.9,  3.6]])

In [102]:
frame2[['year','pop']].values

array([[  2.00000000e+03,   1.50000000e+00],
       [  2.00100000e+03,   1.70000000e+00],
       [  2.00200000e+03,   3.60000000e+00],
       [  2.00100000e+03,   2.40000000e+00],
       [  2.00200000e+03,   2.90000000e+00]])

## Index objects

pandas’s Index objects are responsible for holding the axis labels and other metadata (like the axis name or names). 
Any array or other sequence of labels used when constructing a Series or DataFrame is internally converted to an Index:

In [106]:
obj = Series(range(3), index=['a', 'b', 'c'])
index = obj.index
print(index)
print(index[1:])

Index(['a', 'b', 'c'], dtype='object')
Index(['b', 'c'], dtype='object')

Index objects are immutable and thus can’t be modified by the user

In [107]:
index2 = pd.Index(np.arange(3))
obj2 = Series([1.5, -2.5, 0], index=index2)
obj2.index is index2

True

Main Index objects in pandas

| Class |  Description |
| - | - |
| Index |  The most general Index object, representing axis labels in a NumPy array of Python objects. |
| Int64Index |  Specialized Index for integer values. |
| MultiIndex |  “Hierarchical” index object representing multiple levels of indexing on a single axis. Can be thought of as similar to an array of tuples. |
| DatetimeIndex |  Stores nanosecond timestamps (represented using NumPy’s datetime64 dtype). |
| PeriodIndex |  Specialized Index for Period data (timespans). |

The index functions as a set, of sorts

In [109]:
print('index:', frame3.index, '\n')
print('2003 in index?', 2003 in frame3.index)

index: Int64Index([2000, 2001, 2002], dtype='int64', name='year')

2003 in index? False

Index methods and properties

| Method |  Description |
| - | - |
| append |  Concatenate with additional Index objects, producing a new Index |
| diff |  Compute set difference as an Index |
| intersection |  Compute set intersection |
| union |  Compute set union |
| isin |  Compute boolean array indicating whether each value is contained in the passed collection |
| delete |  Compute new Index with element at index i deleted |
| drop |  Compute new index by deleting passed values |
| insert |  Compute new Index by inserting element at index i |
| is_monotonic | Returns True if each element is greater than or equal to the previous element |
| is_unique | Returns True if the Index has no duplicate values |
| unique |  Compute the array of unique values in the Index |

# Essential Functionality

## Reindexing

In [111]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

Calling reindex on this Series rearranges the data according to the new index, introducing missing values if any index values aint already present

In [124]:
obj.reindex(list(string.ascii_lowercase[:6]))

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
f    NaN
dtype: float64

Specifying a fill value

In [125]:
obj.reindex(list(string.ascii_lowercase[:6]), fill_value=0)

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
f    0.0
dtype: float64

Interpolation for missing values  

There are 2 methods available now: ffill/pad and bfill/backfill.

In [127]:
obj3 = Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

With Dataframes, reindex works on the rows, instead of the columns

In [128]:
frame = DataFrame(np.arange(9).reshape((3, 3)), 
                  index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [130]:
frame.reindex(list(string.ascii_lowercase[:4]))

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [133]:
frame.reindex(columns =  ['Texas', 'Utah', 'California'])

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

Both can be reindexed in one shot, though interpolation will only apply row-wise (axis 0)

In [135]:
frame.reindex(
    index=['a', 'b', 'c', 'd'],
    method='ffill',
    columns=['Texas', 'Utah', 'California'])

   Texas  Utah  California
a      1   NaN           2
b      1   NaN           2
c      4   NaN           5
d      7   NaN           8

As you’ll see soon, reindexing can be done more succinctly by label-indexing with ix

In [136]:
frame.ix[['a', 'b', 'c', 'd'], ['Texas', 'Utah', 'California']]

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

### function arguments

| Argument |  Description |
| - | - |
| index |  New sequence to use as index. Can be Index instance or any other sequence-like Python data structure. An Index will be used exactly as is without any copying |
| method |  Interpolation (fill) method, see Table 5-4 for options. |
| fill_value | Substitute value to use when introducing missing data by reindexing |
| limit |  When forward- or backfilling, maximum size gap to fill |
| level |  Match simple Index on level of MultiIndex, otherwise select subset of
| copy| Copy underlying data if new index is equivalent to old index. True by default (i.e. always copy data). |

## Dropping entries from an axis

### dropping from series

In [ ]:
will return a new object with the indicated value or values deleted from an axis:

In [137]:
obj = Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [139]:
obj.drop(['d', 'c'])

a    0.0
b    1.0
e    4.0
dtype: float64

### from df

With DataFrame, index values can be deleted from either axis  
by default, drop rows

In [144]:
cities=['Ohio','Colorado','Utah','New York']
data = DataFrame(
    np.arange(16).reshape((4, 4)),
    index=cities,
    columns=['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [145]:
data.drop(['Colorado', 'Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [146]:
data.drop('two', axis=1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [140]:
data.drop(['two', 'four'], axis=1)

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

## Indexing, Selection and filtering

### from series

indexing of series works little like numpy's..     
remember, for series, the indexing works on the indices, as it should

In [147]:
obj = Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [148]:
obj['b']

1.0

In [149]:
obj[1]

1.0

In [150]:
obj[2:4]

c    2.0
d    3.0
dtype: float64

In [153]:
obj[['b', 'a', 'd']]

b    1.0
a    0.0
d    3.0
dtype: float64

In [154]:
obj[[1,3]]

b    1.0
d    3.0
dtype: float64

In [155]:
obj[obj < 2]

a    0.0
b    1.0
dtype: float64

Slicing with labels: **endpoint is inclusive**

In [156]:
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [157]:
obj['b':'c'] = 5
obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

### from df

As you’ve seen above, indexing into a DataFrame is for retrieving one or more columns
either with a single value or sequence:

In [158]:
data = DataFrame(
    np.arange(16).reshape((4, 4)),
    index=['Ohio', 'Colorado', 'Utah', 'New York'],
    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Lo and behold, for the inconsistency is here.  
df indexing is working on cols, not rows!!!

In [159]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [160]:
data[['three', 'one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

Slicing on the other hand works on rows

In [161]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [162]:
data[data['three'] > 5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

boolean df for masking

In [163]:
data < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [164]:
data [data < 5] = 0
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Label-indexing on rows, using **ix** attribute

In [165]:
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [166]:
data.ix['Colorado', ['two', 'three']]

two      5
three    6
Name: Colorado, dtype: int64

In [167]:
data.ix[['Colorado', 'Utah'], [3, 0, 1]]

          four  one  two
Colorado     7    0    5
Utah        11    8    9

In [168]:
data.ix[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int64

In [169]:
data.ix[:'Utah', 'two']

Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int64

In [170]:
data.ix[data.three > 5, :3]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

### Indexing options with DataFrame

| Type | Notes  |
| - | - |
| obj[val] | Select single column or sequence of columns from the DataFrame. Special case conveniences: boolean array (filter rows), slice (slice rows), or boolean DataFrame (set values based on some criterion). |
| obj.ix[val] | Selects single row of subset of rows from the DataFrame. |
| obj.ix[:, val] | Selects single column of subset of columns. |
| obj.ix[val1, val2] | Select both rows and columns. |
| reindex  |  Conform one or more axes to new indexes. |
| xs |  Select single row or column as a Series by label. |
| icol, irow | Select single column or row, respectively, as a Series by integer location. |
| get_value, set_value | Select single value by row and column label. |

## Arithmetic and data alignment

### with series

In [171]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [172]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [173]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

add if the ix is present in both. else `NaN`

In [174]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

### with df

In [175]:
df1 = DataFrame(
    np.arange(9.).reshape((3, 3)),
    columns=list('bcd'),
    index=['Ohio', 'Texas', 'Colorado'])

df2 = DataFrame(
    np.arange(12.).reshape((4, 3)),
    columns=list('bde'),
    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [176]:
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [177]:
df2

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In the case of DataFrame, alignment is performed on both the rows and the columns

In [178]:
df1 + df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

#### method with fill values

In [179]:
df1.add(df2, fill_value=0)

            b    c     d     e
Colorado  6.0  7.0   8.0   NaN
Ohio      3.0  1.0   6.0   5.0
Oregon    9.0  NaN  10.0  11.0
Texas     9.0  4.0  12.0   8.0
Utah      0.0  NaN   1.0   2.0

Relatedly, when reindexing a Series or DataFrame, you can also specify a different fill 
value

In [181]:
df1.reindex(columns=df2.columns, fill_value=55)

            b    d   e
Ohio      0.0  2.0  55
Texas     3.0  5.0  55
Colorado  6.0  8.0  55

### Arithmetic methods

| Method | operator |
| ------ | -------- |
| add    | + |
| sub | - |
| mul | * |
| div | / |

### operations between df and series

Works like the operations between nD array and a row.  
this is called broadcasting

In [182]:
frame = DataFrame(
    np.arange(12.).reshape((4, 3)),
    columns=list('bde'),
    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

series = frame.ix[0]

In [183]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [184]:
series

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [185]:
frame - series

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

Missing values will be treated in the same way as before.  

if the broadcasting is needed on rows, then use one of the arithmetic methods

In [187]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [186]:
series = frame['d']
series

Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64

In [188]:
frame.sub(series, axis=0)

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

## function application and mapping

Basically, we need to apply a method, in this case, a lambda on either the row, col or at an element level.  

In case of series, the `map(f)` method applies `f` on each element.

in case of df, `map(f)` applies `f` on each row, collapsing/agg along the row  
specify `map(f,axis=1)` to aggregate along the columns

in df, for elementwise application, use `applymap(f)`

numPy ufuncs (element-wise array methods) work fine with pandas objects:

In [189]:
frame = DataFrame(
    np.random.randn(4, 3),
    columns=list('bde'),
    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

frame

               b         d         e
Utah   -1.398683 -0.260633  1.378891
Ohio   -0.007050 -0.185869 -3.016887
Texas  -0.401106 -0.967680 -0.394528
Oregon  1.165077  0.588643 -1.479126

In [190]:
np.abs(frame)

               b         d         e
Utah    1.398683  0.260633  1.378891
Ohio    0.007050  0.185869  3.016887
Texas   0.401106  0.967680  0.394528
Oregon  1.165077  0.588643  1.479126

### apply()

In [191]:
frame.apply(lambda x: x.max() - x.min())

b    2.563761
d    1.556323
e    4.395777
dtype: float64

In [194]:
frame.apply(lambda x: Series([x.min(),x.max()],['min','max']))

            b         d         e
min -1.398683 -0.967680 -3.016887
max  1.165077  0.588643  1.378891

### applymap()

The reason for the name applymap is that Series has a map method for applying an element-wise function

In [195]:
frame.applymap(lambda x: '%.2f' % x)

            b      d      e
Utah    -1.40  -0.26   1.38
Ohio    -0.01  -0.19  -3.02
Texas   -0.40  -0.97  -0.39
Oregon   1.17   0.59  -1.48

## Sorting and ranking

* Sorting: there are two classes of sorts  
  * sort_index(): as the name says
  * order(): ordering based on values
    * missing values pushed to the end (treated as $\infty$)
* Ranking: sorts in asc (Default) order and assigns ranks
  * ties are broken by the following methods
  

Tie-breaking methods with rank

| Method  | Description |
| -|-|
| 'average' |  Default: assign the average rank to each entry in the equal group. |
| 'min' |  Use the minimum rank for the whole group. |
| 'max' |  Use the maximum rank for the whole group. |
| 'first' |  Assign ranks in the order the values appear in the data. |

### sorting

In [197]:
obj = Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

With a DataFrame, you can sort by index on either axis:

In [199]:
frame = DataFrame(
    np.arange(8).reshape((2, 4)),
    index=['three', 'one'],
    columns=['d', 'a', 'b', 'c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [200]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [201]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

Order of sort

In [202]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

Sort the series by values using **order**

In [205]:
obj = Series([4,7,-3,2])
obj.order()

/home/dragon/.local/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: order is deprecated, use sort_values(...)
  from ipykernel import kernelapp as app

2   -3
3    2
0    4
1    7
dtype: int64

Missing values sorted to the end

In [206]:
Series([4,np.nan,7,np.nan, -3,2]).order()

/home/dragon/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

On DataFrame, you may want to sort by the values in one or more columns. To do so,
pass one or more column names to the by option:

In [207]:
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2

In [208]:
frame.sort_index(by='b')

/home/dragon/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

   a  b
2  0 -3
3  1  2
0  0  4
1  1  7

To sort by multiple columns, pass a list of names:

In [209]:
frame.sort_index(by=['a', 'b'])

/home/dragon/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

### Ranking

In [210]:
obj = Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

7 appears in 6,7 positions. so the avg of the ranks method, which is the default method for breaking ties is used

In [211]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

Tie-breaking methods with rank

| Method | Description |
| - | - |
| 'average' | Default: assign the average rank to each entry in the equal group. |
| 'min' | Use the minimum rank for the whole group. |
| 'max' | Use the maximum rank for the whole group. |
| 'first' | Assign ranks in the order the values appear in the data. |

In [212]:
frame = DataFrame(
    {'b': [4.3, 7, -3, 2],
     'a': [0, 1, 0, 1],
     'c': [-2, 5, 8, -2.5]})
frame

   a    b    c
0  0  4.3 -2.0
1  1  7.0  5.0
2  0 -3.0  8.0
3  1  2.0 -2.5

In [214]:
frame.rank(axis=1)

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

Along axis=1 or along each row

## Axis indexes with duplicate values

* The indices need not be unique. 
* `obj.index.is_unique` attribute
* return values on indexing
  * single-entry returns a scalar / row
  * multiple-entry returns a series / df

In [217]:
obj = Series(
    range(5),
    index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [218]:
obj.index.is_unique

False

In [220]:
obj['a']

a    0
a    1
dtype: int64

In [222]:
obj['c']

4

In [226]:
df = DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'c'])
df

          0         1         2
a -0.553662 -0.625724 -0.094538
a  0.757477  0.797858 -0.498291
b -0.337401 -0.306799  0.155847
c -0.886149  0.212249 -0.142333

In [227]:
df.ix['a']

          0         1         2
a -0.553662 -0.625724 -0.094538
a  0.757477  0.797858 -0.498291

In [228]:
df.ix['b']

0   -0.337401
1   -0.306799
2    0.155847
Name: b, dtype: float64

# summarizations

## simple examples

In [3]:
df = DataFrame(
    [[1.4, np.nan], [7.1, -4.5],[np.nan, np.nan], [0.75, -1.3]],
    index=['a', 'b', 'c', 'd'],
    columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

sum returns series containing column names, ignoring the NaN's

In [4]:
df.sum()

one    9.25
two   -5.80
dtype: float64

along rows

along rows, not ignoring NaN's

In [5]:
df.sum(axis=1)

a    1.40
b    2.60
c     NaN
d   -0.55
dtype: float64

In [6]:
df.sum(axis=1, skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

`describe()`

In [7]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

describe on non-numeric data yields 
* total count
* num unique values
* most freq value
* freq of most freq value

In [8]:
Series(['a','a','b','c']*4).describe()

count     16
unique     3
top        a
freq       8
dtype: object

### MFUF of summary stats

Descriptive and summary statistics

| Method | Description | 
| - | - |
| count | Number of non-NA values | 
| describe | Compute set of summary statistics for Series or each DataFrame column | 
| min ,max | Compute minimum and maximum values | 
| argmin ,argmax | Compute index locations (integers) at which minimum or maximum value obtained, respectively | 
| idxmin ,idxmax | Compute index values at which minimum or maximum value obtained, respectively | 
| quantile | Compute sample quantile ranging from 0 to 1 | 
| sum | Sum of values | 
| mean | Mean of values | 
| median | Arithmetic median (50% quantile) of values | 
| mad | Mean absolute deviation from mean value | 
| var | Sample variance of values | 
| std | Sample standard deviation of values | 
| skew | Sample skewness (3rd moment) of values | 
| kurt | Sample kurtosis (4th moment) of values | 
| cumsum | Cumulative sum of values | 
| cummin ,cummax | Cumulative minimum or maximum of values, respectively | 
| cumprod | Cumulative product of values | 
| diff | Compute 1st arithmetic difference (useful for time series) | 
| pct_change | Compute percent changes |

## Correlation and covariance

In [58]:
import pandas_datareader.data as web
import datetime
import requests_cache

expire_after = datetime.timedelta(days=3)
session = requests_cache.CachedSession(cache_name='cache', 
                                       backend='sqlite',
                                       expire_after=expire_after)
start_date = datetime.datetime(2010, 1, 1)
end_date   = datetime.datetime(2013, 1, 27)
#f = web.DataReader("F", 'yahoo', start, end, session=session)

all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.DataReader(ticker, 'yahoo', start_date, end_date, session=session)
    
    
all_data['AAPL'].head()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2010-01-04,213.429998,214.499996,212.380001,214.009998,123432400,27.847252
2010-01-05,214.599998,215.589994,213.249994,214.379993,150476200,27.895396
2010-01-06,214.379993,215.230000,210.750004,210.969995,138040000,27.451683
2010-01-07,211.750000,212.000006,209.050005,210.580000,119282800,27.400936
2010-01-08,210.299994,212.000006,209.060005,211.980005,111902700,27.583106

In [49]:
price = DataFrame({tic: data['Adj Close'] for tic,data in all_data.items()})
volume = DataFrame({tic: data['Volume'] for tic,data in all_data.items()})

In [56]:
price.pct_change?

In [57]:
returns = price.pct_change()
returns.head()

                AAPL      GOOG       IBM      MSFT
Date
2010-01-04       NaN       NaN       NaN       NaN
2010-01-05  0.001729 -0.004404 -0.012080  0.000323
2010-01-06 -0.015906 -0.025209 -0.006496 -0.006137
2010-01-07 -0.001849 -0.023280 -0.003462 -0.010400
2010-01-08  0.006648  0.013331  0.010035  0.006897

In [51]:
print('corr(MSFT, IBM):', returns.MSFT.corr(returns.IBM))
print('cov(MSFT, IBM):',  returns.MSFT.cov(returns.IBM))

corr(MSFT, IBM): 0.64642219751
cov(MSFT, IBM): 0.000107208658947

In [52]:
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.498942  0.486249  0.449461
GOOG  0.498942  1.000000  0.477658  0.470474
IBM   0.486249  0.477658  1.000000  0.646422
MSFT  0.449461  0.470474  0.646422  1.000000

In [53]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000324  0.000152  0.000105  0.000112
GOOG  0.000152  0.000287  0.000097  0.000111
IBM   0.000105  0.000097  0.000143  0.000107
MSFT  0.000112  0.000111  0.000107  0.000192

Using DataFrame’s corrwith method, you can compute pairwise correlations between a DataFrame’s columns or rows with another Series or DataFrame.   
Passing a Series returns a Series with the correlation value computed for each column:

In [54]:
returns.corrwith(returns.IBM)

AAPL    0.486249
GOOG    0.477658
IBM     1.000000
MSFT    0.646422
dtype: float64

In [55]:
returns.corrwith(volume)

AAPL   -0.149283
GOOG   -0.095221
IBM    -0.095812
MSFT   -0.130049
dtype: float64

## uniq, value_counts, membership

In [59]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

### uniq

In [60]:
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

### value_counts

In [61]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

### membership

In [62]:
mask = obj.isin(['b','c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [63]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

### histograms

In [66]:
data = DataFrame({
    'Qu1': [1, 3, 4, 3, 4],
    'Qu2': [2, 3, 1, 2, 3],
    'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

`apply()` processes columns by default and takes the function `pd.value_counts()` and "applies" it to each column

In [67]:
data.apply(pd.value_counts)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

# Handling missing data

NA handling methods

| Argument | Description |
| - | - |
| dropna | Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much |
| missing | data to tolerate. |
| fillna | Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill' . |
| isnull | Return like-type object containing boolean values indicating which values are missing / NA. |
| notnull | Negation of isnull . |

## Filtering Out Missing Data

**Note**  
we gonna be dropping only instances/rows, never cols/variables, most of the time.
keep that in mind.

In [69]:
data = Series([1,np.nan, 3.5, np.nan, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

two ways of dropping NaN's, which defaults to dropping rows

In [70]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [71]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

Dataframe drops rows which have any NaN value.

In [73]:
data = DataFrame([
    [1., 6.5, 3.],
    [1., np.nan, np.nan],
    [np.nan, np.nan, np.nan],
    [np.nan, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [74]:
data.dropna()

     0    1    2
0  1.0  6.5  3.0

This can be changed by the how parameter

In [75]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

dropping columns

In [76]:
data[4] = np.nan
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [77]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

dropping can also be conditioned on the number of non-null observations.  
retaining rows containing certain number of non-null observations

In [87]:
df = DataFrame(np.random.randn(7,3),columns=['age','weight','height'])

In [88]:
df.ix[:4, 1] = np.nan
df.ix[:2,2] = np.nan
df

        age    weight    height
0  0.748287       NaN       NaN
1  0.088055       NaN       NaN
2  0.778149       NaN       NaN
3  0.133390       NaN  1.075173
4  0.837741       NaN  0.390625
5  0.621101 -1.574880  0.795054
6  0.265740 -1.093963 -1.229231

In [89]:
df.dropna(thresh=2)

        age    weight    height
3  0.133390       NaN  1.075173
4  0.837741       NaN  0.390625
5  0.621101 -1.574880  0.795054
6  0.265740 -1.093963 -1.229231

## Filling in missing data

### fillna()

In [90]:
df

        age    weight    height
0  0.748287       NaN       NaN
1  0.088055       NaN       NaN
2  0.778149       NaN       NaN
3  0.133390       NaN  1.075173
4  0.837741       NaN  0.390625
5  0.621101 -1.574880  0.795054
6  0.265740 -1.093963 -1.229231

In [91]:
df.fillna(0)

        age    weight    height
0  0.748287  0.000000  0.000000
1  0.088055  0.000000  0.000000
2  0.778149  0.000000  0.000000
3  0.133390  0.000000  1.075173
4  0.837741  0.000000  0.390625
5  0.621101 -1.574880  0.795054
6  0.265740 -1.093963 -1.229231

`fillna()` takes a dict() with keys corresponding to col. labels

In [93]:
df.fillna({'weight': 0.5, 'width': -1})

        age    weight    height
0  0.748287  0.500000       NaN
1  0.088055  0.500000       NaN
2  0.778149  0.500000       NaN
3  0.133390  0.500000  1.075173
4  0.837741  0.500000  0.390625
5  0.621101 -1.574880  0.795054
6  0.265740 -1.093963 -1.229231

we can also fill it inplace by setting the parameter `inplace = True`, which defaults to False.  
so beware when you fill a large dataset, you might fill up ur RAM with shit.

### Interpolation methods

In [96]:
df2 = DataFrame(np.random.randn(6,3),columns=['age','ht','wt'])
df2.ix[2:, 1] = np.nan; df2.ix[4:,2] = np.nan
df2

        age        ht        wt
0  0.855143  0.527308 -1.092085
1 -0.661773 -1.299540 -0.253082
2  2.514806       NaN  1.135326
3  2.787358       NaN -0.062290
4  1.972871       NaN       NaN
5 -0.436487       NaN       NaN

Methods of filling: ffill/pad, bfill/backfill  
limit: number of contiguous fillings before stopping

In [104]:
df2.fillna(method='ffill')

        age        ht        wt
0  0.855143  0.527308 -1.092085
1 -0.661773 -1.299540 -0.253082
2  2.514806 -1.299540  1.135326
3  2.787358 -1.299540 -0.062290
4  1.972871 -1.299540 -0.062290
5 -0.436487 -1.299540 -0.062290

In [100]:
df2.fillna(method='ffill', limit=2)

        age        ht        wt
0  0.855143  0.527308 -1.092085
1 -0.661773 -1.299540 -0.253082
2  2.514806 -1.299540  1.135326
3  2.787358 -1.299540 -0.062290
4  1.972871       NaN -0.062290
5 -0.436487       NaN -0.062290

Table 5-13. fillna function arguments

| Argument | Description |
| - | - |
| value | Scalar value or dict-like object to use to fill missing values |
| method | Interpolation, ['ffill'/'pad'], 'bfill'/'backfill' |
| axis | Axis to fill on, default axis=0 |
| inplace | Modify the calling object without producing a copy |
| limit | For forward and backward filling, maximum number of consecutive periods to fill |

# Hierarchical Indexing

In [109]:
data = Series(
    np.random.randn(10),
    index=[
        ['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
        [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
data

a  1    0.304482
   2    0.909877
   3    1.582339
b  1   -1.580268
   2   -0.016087
   3   -0.349703
c  1    0.699246
   2    1.135528
d  2    2.145124
   3   -0.400970
dtype: float64

## multiindex

This is a prettified view of **MultiIndex**.  
The gaps mean "use the label directly above"

In [111]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

### basic indexing

Partial indexing

In [113]:
data['b']

1   -1.580268
2   -0.016087
3   -0.349703
dtype: float64

In [114]:
data['b':'c']

b  1   -1.580268
   2   -0.016087
   3   -0.349703
c  1    0.699246
   2    1.135528
dtype: float64

In [116]:
data.ix[['b','c']]

b  1   -1.580268
   2   -0.016087
   3   -0.349703
c  1    0.699246
   2    1.135528
dtype: float64

Selection is possible from an "inner" level

In [117]:
data[:, 2]

a    0.909877
b   -0.016087
c    1.135528
d    2.145124
dtype: float64

### series: stack, unstack

`unstack()` converts the series to a dataframe

`stack()` does the opposite

In [118]:
data.unstack()

          1         2         3
a  0.304482  0.909877  1.582339
b -1.580268 -0.016087 -0.349703
c  0.699246  1.135528       NaN
d       NaN  2.145124 -0.400970

In [119]:
data.unstack().stack()

a  1    0.304482
   2    0.909877
   3    1.582339
b  1   -1.580268
   2   -0.016087
   3   -0.349703
c  1    0.699246
   2    1.135528
d  2    2.145124
   3   -0.400970
dtype: float64

In a DataFrame, either axis can have a hierarchical index

In [126]:
frame = DataFrame(
    np.arange(12).reshape((4, 3)),
    index=[['a', 'a', 'b', 'b'],
           [1, 2, 1, 2]],
    columns=[['Ohio', 'Ohio', 'Colorado'],
             ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [134]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

Partial column indexing

In [135]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

### df: stack, unstack

In [139]:
frame.unstack()

state  Ohio            Colorado
color Green    Red        Green
key2      1  2   1   2        1   2
key1
a         0  3   1   4        2   5
b         6  9   7  10        8  11

In [138]:
frame.unstack().stack()

state     Colorado  Ohio
color        Green Green Red
key1 key2
a    1           2     0   1
     2           5     3   4
b    1           8     6   7
     2          11     9  10

## Reordering and sorting levels

### swaplevel

default to row indices(axis=0).

In [140]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [142]:
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [151]:
frame.swaplevel('state','color',axis=1)

color     Green  Red    Green
state      Ohio Ohio Colorado
key1 key2
a    1        0    1        2
     2        3    4        5
b    1        6    7        8
     2        9   10       11

### sortlevel

In [147]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [146]:
frame.sortlevel(1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [148]:
frame.swaplevel(0,1).sortlevel(0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

## Summary stats by level

In [152]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

Specify the level you wanna keep?

In [153]:
frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [155]:
frame.sum(level='color',axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

## Using a df's columns

Moving the columns to rows and vice versa

In [157]:
frame = DataFrame({
    'a': range(7),
    'b': range(7, 0, -1),
    'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
    'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

### set_index

In [159]:
frame2 = frame.set_index(['c','d'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

Can choose to keep the columns intact, instaed of removing them which is the default

In [160]:
frame.set_index(['c','d'],drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

### reset_index

does the opposite of `set_index()`

In [161]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

# Other things

todo